.button {
    padding: 5px 10px;
    text-transform: uppercase;
    width: max-content;
    margin: 0 auto;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    gap: 5px;
}
.button:hover {
    background-color: #fff;
    color: blueviolet;
}
.button_primary {
    background-color: blueviolet;
    color: #fff;
}